.list {
  list-style: none;
  padding: 0;
  width: 400px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
  box-shadow: 2px 2px 4px 0px #777777;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}
